h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
img {
    border: 5px solid white;
    width: 100%;
}
p {
    text-align: center;
    color: white;
}
div {
    width: 50%;
    margin: 25%;
}
body {
    background-color: black;
}
